@model IEnumerable<Abogados.Models.Cliente>

@{
    ViewBag.Title = "Inicio";
}

<h1>Clientes</h1>

<p>
    @Html.ActionLink("Añadir cliente", "Create", routeValues: null, htmlAttributes: new { id = "clientLink", @class = "btn btn-primary" })
</p>

<div class="scroll-table">


    <table class="table table-hover overflow-scroll">
        <thead role="rowgroup">

            <tr role="row">
                <th role="columnheader">
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th role="columnheader">
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th role="columnheader">
                    @Html.DisplayNameFor(model => model.Rut)
                </th>
                <th role="columnheader">
                    @Html.DisplayNameFor(model => model.Email)
                </th>
            </tr>
        </thead>


        @foreach (var item in Model)
        {
            <tbody role="rowgroup">
                <tr role="row">
                    <td role="row">
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td role="row">
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td role="row">
                        @Html.DisplayFor(modelItem => item.Rut)
                    </td>
                    <td role="row">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>

                    <td role="row">
                        <a class="btn btn-outline-primary" href="/Clientes/Edit/@item.Id">Editar</a>
                        <a class="btn btn-outline-success" href="/Clientes/Details/@item.Id">Detalles</a>
                        <a class="btn btn-danger" href="/Clientes/Delete/@item.Id">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        }

    </table>
</div>


